.contact-grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: auto;
  grid-template-areas:
    "header header header header header"
    "form form form info info";
}

.contact-grid-header {
  grid-area: header;
  margin-bottom: 96px;
}

.contact-grid-form {
  grid-area: form;
}

.contact-grid-info {
  grid-area: info;
}

.info-grid {
  display: grid;
  grid-template-rows: 10% 90%;
  justify-items: start;
  justify-content: start;
  grid-template-columns: auto;
  grid-template-areas: "img text";
}

.info-grid-img {
  grid-area: img;
}

.info-grid-text {
  grid-area: text;
}

@media (max-width: 768px) {
  .contact-grid {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "form"
      "info";
  }
  .contact-grid-header {
    margin-bottom: -24px;
    width: 92vw;
  }
}
