.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.portfolio-item {
  flex-basis: 100%;
  padding: 18px;
  margin: 15px 0;
  border: 2px #6c757d solid;
  min-width: 200px;
  min-height: 300px;
}

.bg-img-cis-130 {
  background-image: url("../img/bootstrap.png");
}
.bg-img-cis-282 {
  background-image: url("../img/Java.jpg");
}

.bg-img-cis-111 {
  background-image: url("../img/htmlcss.jfif");
}

.bg-img-cis-101 {
  background-image: url("../img/english.jpg");
}

.bg-img-cis-146 {
  background-image: url("../img/code.jfif");
}

.portfolio-bg-text {
  background-color: black;
  opacity: 0.85;
  color: white;
  height: 100%;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .portfolio-item {
    flex-basis: 45%;
  }
}
