.footer {
  width: 100%;
  min-height: 230px;
}

.vh100 {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - (230px + 56px));
}

.home-vh {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 56px);
}

.centered {
  margin: auto;
}

.home-bg-text {
  background-color: black;
  opacity: 0.9;
  padding: 50px;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 0.9;
  text-align: center;
  width: 100%;
}

.bg-img-home {
  background-image: url("../img/handsandpc.jpg");
}

.flag-container {
  width: 1.4rem;
  margin: auto;
}

@media (max-width: 576px) {
  .display-1 {
    font-size: 3.5rem;
  }
  .display-2 {
    font-size: 3rem;
  }
  .display-3 {
    font-size: 2.7rem;
  }
  .display-4 {
    font-size: 2rem;
  }
  .home-bg-text {
    padding: 10px;
  }
}
