.red {
    background-color:red;
}
.blue {
    background-color:blue;
    color:white;
}
.green {
    background-color:green;
}
.greenyellow {
    background-color:greenyellow;
}
.aqua {
    background-color:aqua;
}
.lime {
    background-color:lime;
}
.gray {
    background-color:gray;
}
.fuchsia {
    background-color:fuchsia;
}
.text-size {
    font-size: 20px;
}