* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item img{
  height: 94vh;
} 
.services {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}
.heading-one {
  text-align: center;
  font-weight: bold;
}
.tag-line {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.services h2 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
.text-one {
  margin-top: 25px;
}
@media (min-width: 768px) {
.text-one{
  margin-left: 18px;
  margin-right: 19px;
}
}
.img-box {
  border: 15px solid #eeeeee;
  display: inline-block;
  padding: 25px;
  border-radius: 50%;
  margin-bottom: 25px;
}
hr{
  background-color: transparent;
}
hr.one {
  border-top: 3px solid #d66d5f;
  opacity: 1;
  width: 100px;
  margin: auto;
}
hr.two {
  border-top: 3px solid #49c796;
  opacity: 1;
  width: 100px;
  margin: auto;
}
hr.three {
  border-top: 3px solid #4caad0;
  opacity: 1;
  width: 100px;
  margin: auto;
}
hr.four {
  border-top: 3px solid #f2d777;
  opacity: 1;
  width: 100px;
  margin: auto;
}

.footer {
  background-color: #272727;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.footer p {
  margin-top: 10px;
}
.last-sec {
  text-align: center;
  background-color: #171717;
  padding-top: 25px;
  padding-bottom: 25px;
}
.last-sec i {
  margin-right: 10px;
  color: white;
  opacity: 0.5;
}
