.row1 {
    background-color:#006633;
    height: 60px;
    margin-bottom: 14px;
}
.row2 {
    background-color:#009900;
    height: 140px;
    margin-bottom: 14px;
}
.row3 {
    background-color:#00ff00;
    height: 100px;
    margin-bottom: 14px;
}
.row4 {
    background-color:#330000;
    height: 100px;
    margin-bottom: 14px;
}
.row5 {
    background-color:#333300;
    height: 100px;
    margin-bottom: 14px;
}
.row6 {
    background-color:#336600;
    height: 100px;
        margin-bottom: 14px;
}
.row7 {
    background-color:#663300;
    height: 40px;
}

@media(min-width:576px) and (max-width:767px) {
    .row1 {
        background-color:#006633; 
    }
    .row2 {
        background-color:#009933; 
    }
    .row3 {
        background-color:#00ff33;
        background-clip: padding-box;
        border-right: 7px solid transparent;
    }
    .row4 {
        background-color:#330033; 
        background-clip: padding-box;
        border-left: 7px solid transparent; 
    }
    .row5 {
        background-color:#333333;
        background-clip: padding-box;
        border-right: 7px solid transparent; 
    }
    .row6 {
        background-color:#336633; 
        background-clip: padding-box;
        border-left: 7px solid transparent; 
    }
    .row7 {
        background-color:#663333;
    }
}

@media(min-width:768px) and (max-width:991px){
    .row1 {
        background-color:#006699; 
    }
    .row2 {
        background-color:#009999; 
    }
    .row3 {
        background-color:#00ff99;
        background-clip: padding-box;
        border-right: 10px solid transparent;
    }
    .row4 {
        background-color:#330099; 
        background-clip: padding-box;
        border-right: 3px solid transparent; 
        border-left: 3px solid transparent; 
    } 
    .row5 {
        background-color:#333399;
        background-clip: padding-box;
        border-left: 10px solid transparent; 
    }
    .row6 {
        background-color:#336699; 
    }
    .row7 {
        background-color:#663399;
    }
}

    @media(min-width:992px) {
        .row1 {
            background-color:#0066ff; 
        }
        .row2 {
            background-color:#0099ff; 
        }
        .row3 {
            background-color:#00ffff;
            background-clip: padding-box;
            border-right: 10px solid transparent; 
        }
        .row4 {
            background-color:#3300ff;  
            background-clip: padding-box;
            border-right: 7px solid transparent;
            border-left: 3px solid transparent;
        }
        .row5 {
            background-color:#3333ff;
            background-clip: padding-box;
            border-right: 3px solid transparent;
            border-left: 7px solid transparent;
        }
        .row6 {
            background-color:#3366ff; 
            background-clip: padding-box;
            border-left: 10px solid transparent;
        }
        .row7 {
            background-color:#6633ff;
        }
}