* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
  }

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
    display: grid;

}
header.row{
    grid-template-columns: 30% auto;
}
h1 {
    font-size: 2.5rem;
    margin: 0;
  }
.red {
    background-color: red;
    padding-left:15px;
    padding-right: 15px;
}

.blue {
    background-color: blue;
    color: white;
    padding-left:15px;
    padding-right: 15px;
}

.green {
    background-color: green;
    padding-left:15px;
    padding-right: 15px;
}

.greenyellow {
    background-color: greenyellow;
    padding-left:15px;
    padding-right: 15px;
}

.aqua {
    background-color: aqua;
    padding-left:15px;
    padding-right: 15px;
}
main.row {
    grid-template-columns:26% auto 26%;
}
.lime {
    background-color: lime;
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
}

.gray {
    background-color: gray;
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
}

.fuchsia {
    background-color: fuchsia;
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
}

.text-size {
    font-size: 20px;
}

/* small */
@media (min-width: 576px) {
    .container{
        max-width: 540px;
    }
    .lime {
        max-width: 50%;
    }
    
    .gray {
        max-width: 50%;
    }
    
    .fuchsia {
        max-width: 100%;
    }
    
}

/* medium */
@media (min-width: 768px) {
    .container{
        max-width: 720px;
    }  
    .lime {
        max-width: 33.33%;
    }
    .fuchsia {
        max-width: 66.67%;
    }

}

/* large */
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }   
    .lime {
        margin: 0 auto;
        max-width: 66.66%;
        }
    
    .gray {
        margin: 0 auto;
        max-width: 83.33%;
    }
    
    .fuchsia {
        margin: 0 auto;
        max-width: 83.33%;
    }


}
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }   
}
@media(max-width: 1024px){
    h1 {
        font-size: 2.2rem;
    }
    .aqua,
    .gray {
        display: none;
    }
    footer.row {
        grid-template-columns: 30% auto;
    }
    footer.row section {
        margin: 0; 
        max-width: 100%;
    }
    main.row {
        grid-template-columns: 26% auto 0;
    }
}
@media(max-width: 980px){
    .aqua,
    .gray {
        display: block;
    }
    main.row,
    footer.row {
        grid-template-columns: 26% auto 26%;
    }
}
@media(max-width: 480px){
    header.row,
    main.row,
    footer.row {
        grid-template-columns: 100%;
    }
}